.gig_profile {
  position: relative;
  padding: 10px;
  display: flex;
}

.gig_profile .gig_desc {
  position: relative;
  border: 1px solid rgb(241, 241, 241);
}

.gig_profile .gig_desc .gig_tools {
  position: relative;
  width: 100%;
  padding: 5px 0px 5px 0px;
  background: rgb(240, 239, 239);
  margin: 0 0 15px 0;
}
.gig_profile .gig_desc .gig_tools * {
  margin-right: 10px;
  font-size: 18px;
}

.gig_profile .gig_desc .gig_tools * i {
  cursor: pointer;
}

.gig_profile .gig_desc .gig_tools span:first-child {
  color: #ff4b00;
}
.gig_profile .gig_desc .gig_tools span:nth-child(2) {
  color: #3a8abe;
}

.gig_profile .gig_desc .gig_title_special {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
}

.gig_profile .gig_desc .gig_pic_special {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
}

/*  */
.gig_profile .gig_req {
  position: relative;
}

/* price_and_contact */

.price_and_contact {
  background: #f0efef;
  padding: 3px;
  /* width */
  min-height: 300px;
  position: relative;
}

.get-gig-now {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(29, 28, 28, 0.733);
  left: 0;
  top: 0;
  z-index: 10;
  text-align: center;
  padding: 10px;
}

.get-gig-now .payment-window {
  margin-top: 20%;
  padding: 10px;
}

.noInsurance {
  text-align: right;
  padding: 10px;
}
.spinner {
  margin: 10px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;

  -webkit-animation: sk-rotate 2s infinite linear;
  animation: sk-rotate 2s infinite linear;
}

.dot1,
.dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: rgb(247, 247, 247);
  border-radius: 100%;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
