.request_container {
  /* background: rgb(250, 250, 250); */
  padding: 10px;
  position: relative;
  text-align: center;
  margin-bottom: 15%;
}
.request_container table tbody tr th {
  border: 1px solid rgb(184, 180, 180);
}
.request_container table tbody tr th {
  padding: 8px;
  background: rgb(231, 231, 231);
}

.request_container table tbody tr td {
  border: 1px solid rgb(221, 220, 220);
  padding: 2px 3px 2px 3px;
}

.request_container table tbody tr th:first-child {
  padding: 8px 50px 8px 50px;
  width: 35%;
}

.request_container table tbody tr th:nth-child(2) {
  width: 12%;
}

.request_container table tbody tr th:nth-child(5),
.request_container table tbody tr th:nth-child(6) {
  width: 13%;
}

.request_container table tbody tr th:nth-child(3),
.request_container table tbody tr th:nth-child(4) {
  width: 9%;
}

.request_container table tbody tr td:first-child span {
  margin: 4px 0px 0px 0px;
  transition: all ease 400ms;
  display: inline-block;
  width: 80%;
  text-align: right;
}

.request_container table tbody tr td:first-child span:hover {
  color: #4be0af;
}

.request_image {
  background-size: cover;
  background-position: center;
  width: 45px;
  height: 35px;
  float: right;
  margin: 2px 8px 2px 0;
}

.sendGig {
  transition: all ease 400ms;
}
.sendGig:hover {
  color: #4be0af;
}

.accept,
.decline {
  transition: all ease 350ms;
  cursor: pointer;
}

.accept:hover {
  color: #4be0af;
}
.decline:last-child:hover {
  color: red;
}

.download_service {
  transition: all ease 400ms;
  width: 259.8%;
  height: 0px;
  background: rgba(240, 240, 240, 0.822);
  position: relative;
  /* overflow: hidden; */
}

.download_service .tools {
  width: 100%;
  height: 100%;
  background: rgba(222, 224, 222, 0.007);
  text-align: center;
  padding: 10px;
  padding-top: 5%;
  position: relative;
  overflow: hidden;
  transition: all ease 400;
}

.download_service .tools span {
  font-size: 18px;
}

.download_service .tools .uploading_label {
  width: 15%;
  color: white;
  padding: 10px;
  border-radius: 5px;
  background: #4be0af;
  margin-right: 42.5%;
  cursor: pointer;
  top: 10px;
  transition: all ease 400ms;
  overflow: hidden;
}

.download_service .tools .uploading_label:hover {
  box-shadow: 0px 0px 10px 2px rgba(207, 207, 207, 0.945);
  overflow: hidden;
}

.choises {
  margin-top: 4%;
  position: relative;
  width: 100%;
  height: 50%;
  padding-top: 10px;
  font-size: 16px;
}

.choises div {
  margin-bottom: 10px;
}
.choises span {
  display: inline-block;
  margin: 10px;
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  background: red;
  color: white;
}

.choises span:last-child {
  background: #4be0af;
}
